@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(226, 222, 222);
    min-width: 900px;
}

.fundo-main img{
    width: 800px;
    height: 402px;
    margin: 100px;
    margin-left: 270px;
    position: relative;
  
}

.info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 300px;
    height: 111px;
    top: 260px;
    left: 335px;
}

h2{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 900;
    line-height: 23.44px;
    text-align: left;
    padding: 10px;
    color: #fff;
}

p{
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 17.58px;
    text-align: left;
    padding: 10px;
    color: #fff;
}

.container{
    background-color: #fff;
    width: 340px;
    height: 378px;
    top: -495px;
    left: -1px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

}

.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 680px;
    width: 40%;
}

.inputs{
    width:330px;
    height: 28px; 
    border-radius: 1px;
    border: 1px 0px 0px 0px;
    display: flex;
    font-family: Roboto;
    font-weight: 700;
    text-align: left;
    flex-direction: column;
    margin-top: -1px;
}

.msg .inputs{
    width: 330px;
    height: 110px;
}

.msg-info{
    margin-top: -6px;
    margin-bottom: -8px;
}

.btn{
    width: 330px;
    height: 46px;
    left: 5px;
    gap: 0px;
    border-radius: 5px;
    opacity: 0px;
    background-color: #3CCC87;
    cursor: pointer;
    text-align: center;
    margin: 40px 0px 0px 0px;
}

.aviso-campo {
    margin: 0 0 5px 21px;
    align-self: flex-start;
    font-size: 10px;
    color: #F52E2E;

}

.preenchido {
    border-color:#00C22B ;
}

.nao-preenchido {
    border-color:#F52E2E ;
}

.esconder {
    opacity: 0;
}



